* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #A5ACDF;
    color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 600px 800px;
    grid-gap: 24px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.user-interface {
    color: white;
    padding: 24px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.collectibles-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.collectible {
    width: 100px;
    height: 100px;
    background-color: #e9438062;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.claw-machine {
    background-image: url('../images/machine.png');
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    position: relative;
    overflow: hidden;
}

.controls {
    position: absolute;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.machine-top {
    width: 100%;
    height: 50px;
    background-color: #FBA7C6;
    position: absolute;
    top: 0;
}

.claw {
    /* need image */
    width: 80px;
    height: 30px;
    background-color: #888;
    position: absolute;
    top: 50px;
    left: 210px;
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

.claw-hand {
    /* need image */
    width: 10px;
    height: 50px;
    background-color: #666;
    position: absolute;
    bottom: -50px;
}

.start-button {
    padding: 10px 10px;
    background-color: #f80b82;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    background-color: #E94380;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #e9438085;
    border-radius: 24px;
    padding: 20px;
    z-index: 1000;
}

#popup button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #8a2b4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}